* {
  tls /etc/cert.pem /etc/key.pem
}

:8080 {
  root /app/demo/dist
}

:8443 {
  proxy / biz:8443 {
    transparent
    websocket
    header_upstream Sec-WebSocket-Protocol {>Sec-WebSocket-Protocol}
  }
}
